<!--
    File created along with its ascendant: 'templates' and 'todo' folders within the 'todo' main folder.
    The reason for creating this secondary 'todo' folder inside the templates directory is simple: when Django looks for templates inside of these apps,
    it always returns the first one that it finds. So, by separating it into a folder that matches its app name, we ensure that we are getting the right
    template even if there is another template of the same name in a different app.
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Maurizio Loffredo">
    <meta name="description" content="Django 'ToDo Walkthrough Project'.">
    <meta name="keywords" content="Django, Walkthrough">
    <title>Edit Item</title>
    <link rel="icon" type="image/x-icon" href="assets/images/html5.webp">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>

    <h1>Edit a To-Do Item:</h1>
    <!-- The add-action has been removed, in order to POST to the same URL we are currently on -->
    <form method="POST">

        {% csrf_token %}
        {{ form.as_p }}

        <div>
            <p>
                <button type="submit">Update Item</button>
            </p>
        </div>

    </form>

</body>

</html>