<!--
    File created along with its ascendant: 'templates' and 'todo' folders within the 'todo' main folder.
    The reason for creating this secondary 'todo' folder inside the templates directory is simple: when Django looks for templates inside of these apps,
    it always returns the first one that it finds. So, by separating it into a folder that matches its app name, we ensure that we are getting the right
    template even if there is another template of the same name in a different app.
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Maurizio Loffredo">
    <meta name="description" content="Django 'ToDo Walkthrough Project'.">
    <meta name="keywords" content="Django, Walkthrough">
    <title>Django</title>
    <link rel="icon" type="image/x-icon" href="assets/images/html5.webp">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>

    <h1>Things I need to do:</h1>
    <!--
        We can render our items key from the context dictionary just created into 'views.py' by using the following double curly bracket syntax:
        {{ items }}
        This is a template variable and anything that you return to the template from that dictionary can be rendered in the same way a Django query set.
    -->
    <table>
        {% for item in items %}
            <tr>
                {% if item.done %}
                    <td><strike>{{ item.name }}</strike></td>
                {% else %}
                    <td>{{ item.name }}</td>
                {% endif %}
                <td>
                    <a href="/toggle/{{ item.id }}">
                        <button>Toggle</button>
                    </a>
                </td>
                <td>
                    <a href="/edit/{{ item.id }}">
                        <button>Edit</button>
                    </a>
                </td>
                <td>
                    <a href="/delete/{{ item.id }}">
                        <button>Delete</button>
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td>You have nothing to do!</td>
            </tr>
        {% endfor %}
    </table>

    <a href = "/add">Add an Item</a>

</body>

</html>